#frog-pond-multiplier-container {
  width: max-content;
  margin: auto;
  padding: 4px;
  margin-top: 6px;
}

#frog-pond-multiplier-container p {
  width: max-content;
  margin: auto;
  text-align: center;
  margin-top: 4px;
}

#frog-pond-multiplier-buttons-container .frog-pond-multiplier-buy-btn {
  width: 150px;
  height: 36px;
  background-color: var(--background-color);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

#frog-pond-multiplier-buttons-container .frog-pond-multiplier-buy-btn p {
  color: var(--default-text-color);
  margin: 0;
}

#frog-pond-multiplier-buttons-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}

.default-multiplier-buy-btn {
  border: 2px solid var(--custom-green);
}

.default-multiplier-buy-btn:hover {
  background-color: var(--custom-green-transparent) !important;
}
