@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
  --background-color: #0c0c0c;
  --default-text-color: #fff;
  --custom-green: #20d804;
  --custom-green-transparent: #20d80420;
  --frog-pond-accent: #0e0e0e;
  --color-disabled: #1c1c1c;
  --sidebar-hover-color: #161616;
  --selection-color: #76e05c;
}

* {
  transition-duration: 250ms;
}

html,
body {
  background-color: var(--background-color);
  color: var(--default-text-color);
  margin: 0;
  padding: 0;
  padding-bottom: 80px;
  font-family: 'Roboto', sans-serif;
}

h1,
p {
  margin: 0;
}

button {
  cursor: pointer;
}

::selection {
  background: var(--selection-color);
  color: #fff;
}

#frog-amount-text-container {
  width: max-content;
  margin: auto;
  font-size: 50px;
}

#frog-gaining-text-container {
  width: max-content;
  margin: auto;
  font-size: 28px;
}

@media screen and (max-width: 600px) {
  #frog-amount-text-container {
    font-size: 32px;
  }

  #frog-gaining-text-container {
    font-size: 18px;
  }
}

.button-disabled {
  border: 2px solid var(--color-disabled);
  cursor: default !important;
}
